:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.track-container {
  display: flex;
}

img.track-album {
  margin: 0;
}

td.track-title {
  white-space: nowrap;
  /* word-break: break-all; */
  max-width: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 4px 0;
}

.no-wrap {
  letter-spacing: 0.1px;
  font-weight: normal;
  margin: 0 0 3px;
  white-space: nowrap;
  /* word-break: break-all; */
  max-width: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 4px 0;
}

thead {
  border-bottom: 1.8px solid rgba(#040f16, 0.7);
}
thead,
tbody tr {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-spacing: 12px 8px;
}

tr th {
  width: 100%;
  table-layout: fixed;
  text-align: start;
  font-weight: 500;
  text-transform: uppercase;
}

tr th:first-child {
  width: 48px;
}

tr td:nth-child(4) {
  font-size: 13px;
  font-family: Montserrat, "sans-serif";
  font-weight: 400;
}

tr td {
  margin: 0 4px;
  vertical-align: top;
}

tbody {
  border-spacing: 12px 8px;
  display: block;
}

tbody tr td:first-child {
  width: 48px;
}
.track-details-container {
  margin: 0px 0 12px 16px;
  width: 100%;
  max-width: 260px;
}

.tracks-artist-container {
  display: flex;
  max-width: 300px;
}
.track-album {
  margin: 0 11px 20px 16px;
}
.track-table {
  max-height: 50vh;
  max-width: 75vw;
}
#select-all {
  margin-bottom: 6px;
}
span.artist-tag:not(:last-child):after {
  content: ",";
}
.track-dialog {
  overflow-y: hidden;
}

.track-body-container {
  max-height: 360px;
  overflow: auto;
}

.full-width {
  width: 100%;
}

button.hero-button {
  outline: none;
color: white;
background-color: #446DF6;
font-size: 16px;
border: none;
padding: 16px 36px;
border-radius: 32px;
font-weight: 600;
}

button.neut-button {
  outline: none;
  color: #000;
  background-color: #FFF;
  font-size: 16px;
  border: none;
  padding: 16px 36px;
  border-radius: 32px;
  font-weight: 600;
}

.button-container {
  justify-content: flex-end;
}

.button-container button:first-child {
  margin: 8px;
}
.row {
  display: flex;
  flex-direction: row;
 
  width: 100%;
  max-width: 75vw;
}
