  <div>
    <input class="title-input" placeholder="Playlist Title" [(ngModel)]="title">
  </div>
  <div class="description-container row">
    <img [src]="getPlaylistSrc(data)" [width]="84" [height]="84">
    <div class="text-container"> 
      <h4>{{data?.name}}</h4>
    <p>{{data?.description}}</p>
    </div>
  </div>
<table class="track-table">
  <thead>
    <tr>
      <th><mat-checkbox
        [indeterminate]="isSomeSelected"
        [checked]="isAllSelected"
        (change)="selectAll($event.checked)"
        ></mat-checkbox></th>
      <th>Title</th>
      <th>Album</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody class="track-body-container">
    <tr *ngFor="let item of data?.tracks?.items">
      <td>
        <mat-checkbox
        [(ngModel)]="item.track.selected" ></mat-checkbox>
      </td>
      <td class="track-title">
        <div class="track-container">
          <img class="track-album"
            [width]="48"
            [height]="48"
            [src]="getAlbumSrc(item?.track)"
          />
          <div class="track-details-container">
            <p class="body-1 no-wrap">{{ item?.track?.name }}</p>
            <div class="track-artists-container">
              <span
                *ngFor="let artist of item?.track?.artists"
                class="caption artist-tag">{{ artist?.name }}</span>
            </div>
          </div>
        </div>
      </td>
      <td>{{item?.track?.album?.name}}</td>
      <td>{{getDuration(item?.track?.duration_ms)}}</td>
    </tr>
  </tbody>
</table>
<div class="row button-container">
  <button class="secondary">Cancel</button>
  <button class="primary" (click)="createPlaylist()">Create</button>
</div>