.grid-container {
  display: grid;
  grid-area: "body";
  grid-template-columns: auto auto auto auto auto;
  gap: 8px;
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  padding: 32px 128px 36px;
}

.header {
  grid-area: "header";
}
p.caption {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4.display-title {
}

.display-title-container {
  width: 100%;
  height: 100%;
}

.display-title-container::before {
  margin-left: 12px;
}

.display-img {
  width: 160px;
  height: 160px;
  border-radius: 2px;
}
