button.hero-button {
    outline: none;
    color: white;
    background-color: #446df6;
    font-size: 16px;
    border: none;
    padding: 16px 36px;
    border-radius: 32px;
    font-weight: 600;
  }
  
  button.neut-button {
    outline: none;
    color: #000;
    background-color: #fff;
    font-size: 16px;
    border: none;
    padding: 16px 36px;
    border-radius: 32px;
    font-weight: 600;
  }

  button {
    cursor: pointer;
  }
 
  button.primary {
    outline: none;
    color: white;
    background-color: #446df6;
    font-size: 16px;
    border: none;
    padding: 16px 36px;
    border-radius: 32px;
    font-weight: 600;
    
  }

 
  
  
  button.secondary {
    outline: none;
    color: #000;
    background-color: #fff;
    font-size: 16px;
    border: none;
    text-transform: capitalize;
    padding: 16px 36px;
    border-radius: 32px;
    font-weight: 600;
  }

  button.small {
    border-radius: 32px;
    padding: 12px 24px;
    border: none;
    font-weight: 400;
    outline: none;
    text-transform: capitalize;
    ;
}